header nav {
  width: 100%;
  height: 100px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
}
header nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: 25px;
  left: 20px;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header nav ul li {
  margin: 0 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}
header nav ul li a {
  text-decoration: none;
  color: inherit;
}
header nav ul li:hover {
  color: #ff6600;
}
@media screen and (max-width: 480px) {
  header nav {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }
  header nav img {
    position: static;
    margin: 0 0 10px 136px;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    margin: 10px 0;
  }
}

main #chatbotbutton {
  background-color: skyblue;
  padding: 9px;
  border-radius: 50%;
  font-size: 72px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: whitesmoke;
  margin: 0 auto;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  main #chatbotbutton {
    font-size: 48px;
    padding: 6px;
    bottom: 20px;
    right: 20px;
  }
}
main .hero {
  width: 100%;
  height: 90vh;
  background-color: #333;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
main .hero__image img {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px;
}
main .hero__content {
  width: 40%;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
main .hero__content h1 {
  color: white;
}
main .hero__content p {
  color: white;
}
main .hero__content div {
  display: flex;
  gap: 20px;
}
main .hero__content div input {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
}
main .hero__content div button {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
main .hero__content div button:hover {
  background-color: lightgray;
  padding: 10px 20px;
}
@media screen and (max-width: 480px) {
  main .hero__content div {
    flex-direction: column;
  }
  main .hero__content div input {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  main .hero {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }
  main .hero__image img {
    width: 300px;
    height: 200px;
  }
  main .hero__content {
    width: 80%;
    height: auto;
  }
  main .hero__content input {
    width: 200px;
  }
}
main .chatbot {
  display: none;
  width: 300px;
  height: 400px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: white;
  border-radius: 9px;
}
main .chatbot #closebutton {
  background-color: red;
  width: 30px;
  height: 30px;
  padding: 4px;
  text-align: center;
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  font-size: 21px;
  color: white;
  border-radius: 50%;
}
main .chatbot__header h3 {
  text-align: center;
  padding: 12px;
  background-color: skyblue;
  color: white;
  border-radius: 9px 9px 0 0;
}
main .chatbot__messages {
  width: 100%;
  height: 320px;
  overflow-y: scroll;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .chatbot__messages .bot-message {
  display: flex;
  gap: 9px;
  background-color: skyblue;
  border-radius: 3px;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
main .chatbot__messages .bot-message i {
  font-size: 27px;
  color: gray;
  padding: 3px;
}
main .chatbot__messages .user-message {
  background-color: skyblue;
  color: white;
  padding: 3px;
}
main .chatbot__messages .user-message i {
  color: white;
}
main .chatbot__input {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 6px;
  padding: 6px;
}
main .chatbot__input input {
  width: 80%;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid gray;
}
main .chatbot__input button {
  width: 20%;
  border: none;
  background-color: skyblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
main .chatbot__input button:hover {
  background-color: deepskyblue;
}
@media screen and (max-width: 480px) {
  main .chatbot {
    width: 90%;
    right: 5%;
  }
  main .chatbot #closebutton {
    width: 25px;
    height: 25px;
    font-size: 18px;
    padding: 2px;
  }
  main .chatbot__messages {
    height: 200px;
  }
}

footer {
  width: 100%;
  height: auto;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h2 {
  margin: 20px;
}
footer .servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
footer .servicios__card {
  width: 400px;
  height: 400px;
  background-color: #776e6e;
  margin: 12px;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
footer .servicios__card img {
  width: 350px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  footer .servicios {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  footer .servicios__card {
    width: 300px;
    height: auto;
  }
  footer .servicios__card img {
    width: 250px;
    height: 150px;
  }
}
footer .sobrenosotros {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
footer .sobrenosotros p {
  font-size: 21px;
}
footer .sobrenosotros img {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
@media screen and (max-width: 480px) {
  footer .sobrenosotros img {
    width: 300px;
    height: 200px;
  }
}
footer .contacto {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .contacto form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
footer .contacto form input, footer .contacto form textarea {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  width: 400px;
  padding: 10px;
}
footer .contacto form button {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
footer .contacto form button:hover {
  background-color: lightgray;
  padding: 10px 20px;
}
footer .contacto p {
  font-size: 21px;
}
footer .contacto a {
  color: white;
  text-decoration: none;
  font-size: 21px;
}
footer .contacto a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  footer .contacto form input, footer .contacto form textarea {
    width: 300px;
  }
  footer .contacto p {
    font-size: 18px;
  }
  footer .contacto a {
    font-size: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}/*# sourceMappingURL=style.css.map */